body {
  background-color: rgb(40, 40, 40);
  color: aquamarine;

}

.container {
  margin: 2rem auto 0 auto;
  width: 50%;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row-gap: 1em;
  user-select: none;
}

img {
  width: 100%;
}

.images {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.image {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.quotes {
  min-height: 4em;
  display: grid;
  background-color: rgb(40, 40, 40);
  font-size: 20px;
}

.quote {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: -1;
}

.controls {
  display: flex;
  justify-content: end;
}

#radioButton1:checked~.images #img1,
#radioButton2:checked~.images #img2,
#radioButton3:checked~.images #img3,
#radioButton4:checked~.images #img4 {
  z-index: 1;
}

#radioButton1:checked~.quotes #quote1,
#radioButton2:checked~.quotes #quote2,
#radioButton3:checked~.quotes #quote3,
#radioButton4:checked~.quotes #quote4 {
  z-index: 1;
}

#radioButton1:checked~.controls #dot1>.dot,
#radioButton2:checked~.controls #dot2>.dot,
#radioButton3:checked~.controls #dot3>.dot,
#radioButton4:checked~.controls #dot4>.dot {
  background-color: black;
  border: solid 2px rgba(133, 131, 236);
  box-sizing: border-box;
}

#radioButton1,
#radioButton2,
#radioButton3,
#radioButton4 {
  display: none;
}

.clickArea {
  padding: 0 10px 20px 10px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(133, 131, 236, 0.6);
}

.clickArea:hover {
  cursor: pointer;
}

.clickArea:hover .dot {
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 2px rgba(255, 255, 255) !important;
  box-sizing: border-box;
}

.clickArea:active .dot {
  background-color: red;
  border: solid 2px red !important;
  box-sizing: border-box;
}